install
url --url http://centos.mirrors.ovh.net/ftp.centos.org/7/os/x86_64/

lang en_US.UTF-8
keyboard us
timezone Europe/London

network --device=em0 --bootproto=dhcp --ipv6=auto
firewall --enable --ssh

authconfig --enableshadow --passalgo=sha512
#selinux --enabled
rootpw vagrant

text
skipx

zerombr
clearpart --all --initlabel
part /boot --fstype ext4 --size=500
part swap --size=1024
part pv.01 --size=1 --grow
volgroup vgroot pv.01
logvol / --vgname=vgroot --size=4096 --name=lv_root

firstboot --disabled
reboot

%packages --nobase
@core --nodefaults
-aic94xx-firmware*
-alsa-*
-btrfs-progs*
-iwl*firmware
-NetworkManager*
-iprutils
-ivtv-firmware
-plymouth*
-postfix
bzip2
gcc
%end

%post
# disable unnecessary services
chkconfig acpid off
chkconfig auditd off
chkconfig blk-availability off
chkconfig bluetooth off
chkconfig certmonger off
chkconfig cpuspeed off
chkconfig cups off
chkconfig haldaemon off
chkconfig ip6tables off
chkconfig lvm2-monitor off
chkconfig messagebus off
chkconfig mdmonitor off
chkconfig rpcbind off
chkconfig rpcgssd off
chkconfig rpcidmapd off
chkconfig yum-updateonboot off

# vagrant
groupadd vagrant -g 1001
useradd vagrant -g vagrant -G wheel -u 1001
echo "vagrant" | passwd --stdin vagrant

# sudo
yum install -y sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
